<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicco.animationsandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".animation_part6.SequenceAnimationActivity"></activity>
        <activity android:name=".animation_part6.SharedAnimationActivity" >

        </activity>
        <activity android:name=".animation_part5.ChangeAnimationActivity">
        </activity>
        <activity android:name=".animation_part4.CoordinatedSlideActivity" />
        <activity android:name=".animation_part3.BackActivity" />
        <activity android:name=".animation_part3.TransitionBetweenViewsActivity" />
        <activity android:name=".animation_part2.AnimationScene1Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>.
        <activity android:name=".animation_part1.AnimationFadeExploseSlideActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>